/* Style the tab */
.tablinks {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    float: right;
    cursor: pointer;
    
    
  }
  
  /* Style the buttons that are used to open the tab content */
  /* .tablinks button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: right;
  } */
/* .tablinks{
    
    position: relative;
    left: auto;
    
} */
  
  /* Change background color of buttons on hover */
  /* .tablinks button:hover {
    background-color: #ddd;
  } */
  
  /* Create an active/current tablink class */
  /* .tablinks button.active {
    background-color: #ccc; */
  /* } */
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    width: 960px;
    margin-top: 15px;
  }
h2{
    color: #4aaaa5;
}

h1{
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block
}
p{
    color:#777777

}
#mainPage{
    background-image: url("../images/blue-snow.png");
    /* width: 960px; */
    margin-left: 10%;
    margin-right: 10%;
    
}
#nameHeader{
    /* margin: 10px; */
    margin-bottom: 0%;
    width: 300px;
    height: 100px;
    text-align: center;
    
    vertical-align: middle;
    line-height: 90px;  
    
}
header{
    background-color: white;
    width: 100%;
   
}